option_settings:
  "aws:elasticbeanstalk:application:environment":
    FLASK_APP: "src.app"        # Point to app inside the 'src' folder
    FLASK_ENV: "production"     # Set to production in a production environment
    WSGI_PATH: "src.app:app"    # Tell EB where your WSGI application (app instance) is located

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "src.app:app"     # Path to Flask app's entry point
    PythonVersion: "3.13"
    NumProcesses: 1             # Number of worker processes to handle requests
    NumThreads: 5               # Number of threads for each worker process
    DiskSize: 5                 # Size of the instance's EBS volume (in GB)
